################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagerAPI/.vs/TaskManagerAPI
/TaskManagerAPI/bin/Debug/net6.0
/TaskManagerAPI/appsettings.Development.json
/TaskManagerAPI/TaskManagerAPI.sln
/TaskManagerAPI/obj
/TaskManagerAPI/.vs/ProjectEvaluation
